body {
  margin: 0;
  padding: 0;
  background-color: #fffff4;
  font-family: "Open Sans", "DejaVu Sans", sans-serif;
}

.content-wrapper {
  display: flex;
  flex-direction: row;
  margin-left: auto;
  margin-right: auto;
  background-color: #ffffc7;
}

.nav-top {
  height: 64px;
  background-color: orangered;
}

.nav-top ul {
  display: flex;
  justify-content: space-between;
  padding: 1em 2em;
  margin: 0;
  list-style: none;
}

.nav-tree {
  display: block;
}

.nav-tree > ul {
  position: sticky;
  width: 270px;
  top: 50px;
  height: calc(-50px + 100vh);
  overflow-y: scroll;
}

.nav-outline {
  display: block;
  background-color: #ffffe3;
}

.nav-outline > ul {
  width: 270px;
  height: 100vh;
  position: sticky;
  top: 0;
  overflow-y: scroll;
}

.content-layout {
  display: flex;
  flex: 1 1 auto;
  min-width: 0;
  flex-direction: row;
}

.content-body {
  display: flex;
  flex: 1 1 auto;
  min-width: 0;
  width: 100%;
  max-width: 1200px;
  padding: 0 36px;
  margin-left: auto;
  margin-right: auto;
}

.content-body > main {
  width: 100%;
  max-width: 960px;
  min-width: 0;
}

.outline > ul {
  font-size: 0.9em;
  position: sticky;
  top: 26px;
}

.outline ul {
  font-family: "Open Sans", "DejaVu Sans", sans-serif;
  line-height: 1.6;
  list-style-type: none;
}

.outline a {
  text-decoration: none;
}

.literalblock pre,
.listingblock pre,
.listingblock > .content > pre:not(.highlight),
.listingblock > .content > pre[class="highlight"],
.listingblock > .content > pre[class^="highlight "] {
  background-color: #fffff3;
  border: 2px dashed #eee;
}

kbd {
  font-size: 0.85em;
  padding: 0.1em 0.4em;
}
