:root {
  --font-size-tree-view: 15px;
  --font-size-outline: var(--font-size-tree-view);
  --bg: #fcf3d9;
  --bg-0: #fdf7e6;
  --bg-1: #f8e7b5;
  --bg-yellow-1: #fffff4;
  --bg-yellow-2: #ffffc7;
  --bg-code-block: #fffcf3;
  --border-color-code-block: #efd791;
  --bg-code-inline: var(--bg-code-block);
  --border-color-code-inline: var(--border-color-code-block);
  --bg-nav-top: #ba3925;
  --bg-footer: #ffefc4;
  --link-color-default: #2156a5;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Open Sans", "DejaVu Sans", sans-serif;
  background-color: var(--bg);
}

.content-wrapper {
  display: flex;
  flex-direction: row;
  min-height: 100%;
  background-color: var(--bg);
}

@media (max-width: 960px) {
  .content-wrapper {
    padding-top: 64px;
  }
}

.nav-top {
  position: fixed;
  height: 64px;
  background-color: var(--bg-nav-top);
  display: flex;
  justify-content: center;
  z-index: 1;
  left: 0;
  right: 0;
  justify-content: space-between;
}

@media (min-width: 960px) {
  .nav-top {
    display: none;
  }
}

.nav-top .nav-tree-toggle {
  display: none;
}

@media (max-width: 960px) {
  .nav-top .nav-tree-toggle {
    display: block;
    background-image: url('/_static/menu.svg');
    background-size: 50%;
    background-position: 50%;
    background-repeat: no-repeat;
    width: 2.5rem;
    height: 2.5rem;
    border: none;
    border-radius: 3px;
    align-self: center;
    margin-left: 1em;
  }
}

.nav-top .nav-tree-toggle.is-active {
  background-image: url('/_static/back.svg');
}

.nav-top ul {
  display: flex;
  justify-content: space-between;
  padding: 1em 2em;
  margin: 0;
  list-style: none;
}

.nav-top a {
  color: #fff;
  text-decoration: none;
  text-shadow: 1px 1px 4px rgba(0, 0, 0, 0.5);
  font-weight: bold;
}

.nav-top a:hover {
  text-shadow: none;
}

.sidebar {
  display: flex;
  box-sizing: border-box;
  background-color: var(--bg-1);
  box-shadow: 2px 2px 7px 0 rgba(0, 0, 0, 0.5);
}

@media (max-width: 960px) {
  .sidebar {
    position: fixed;
    top: 64px;
    height: 100vh;
    left: -320px;
    z-index: 1;
  }

  .sidebar.is-active {
    left: 0;
  }
}

.sidebar .container {
  box-sizing: border-box;
  width: 300px;
}

.sidebar .sticky {
  display: flex;
  flex-direction: column;
  height: 100vh;
  position: sticky;
  top: 0
}

.sidebar .brand {
  display: flex;
  padding: 1em;
  justify-content: center;
}

.sidebar .brand a {
  text-decoration: none;
}

.sidebar .brand img {
  max-width: 200px;
}

.sidebar .brand h2 {
  color: #000;
  margin: 0;
  text-align: center;
}

.nav-tree {
  display: block;
  padding: 1em 0;
  font-size: var(--font-size-tree-view);
  scroll-behavior: smooth;
  overflow-y: auto;
}

.nav-tree > ul {
  width: 270px;
  overflow-y: scroll;
}

.nav-tree li:hover {
  background-color: var(--bg-0);
}

.nav-outline {
  display: block;
  padding-top: 1em;
  font-size: var(--font-size-outline);
  background-color: var(--bg-0);
}

@media (max-width: 960px) {
  .nav-outline {
    position: fixed;
    right: -300px;
    z-index: 1;
    box-shadow: -2px -2px 7px 0 rgba(0, 0, 0, 0.5);
  }

  .nav-outline.is-active {
    right: 0;
  }
}

.nav-top .nav-outline-toggle {
  display: none;
}

@media (max-width: 960px) {
  .nav-top .nav-outline-toggle {
    display: block;
    background-image: url('/_static/outline.svg');
    background-size: 50%;
    background-position: 50%;
    background-repeat: no-repeat;
    width: 2.5rem;
    height: 2.5rem;
    border: none;
    border-radius: 3px;
    align-self: center;
    margin-right: 1em;
  }

  .nav-top .nav-outline-toggle.is-active {
    background-image: url('/_static/close.svg');
  }
}

.nav-outline > ul {
  width: 270px;
  height: 100vh;
  position: sticky;
  top: 0;
  overflow-y: scroll;
}

.nav-tree ul,
.nav-outline ul {
  list-style: none;
}

.nav-tree a,
.nav-outline a {
  text-decoration: none;
}

.nav-outline a {
  font-size: 14px;
}

.nav-outline a:hover {
  text-decoration: underline;
}

.content-layout {
  display: flex;
  flex: 1 1 auto;
  min-width: 0;
  flex-direction: row;
}

.content-body {
  display: flex;
  flex: 1 1 auto;
  min-width: 0;
  width: 100%;
  max-width: 1200px;
  padding: 0 36px;
  margin-left: auto;
  margin-right: auto;
}

.content-body > main {
  width: 100%;
  max-width: 960px;
  min-width: 0;
  padding: 0 2em;
}

@media (max-width: 960px) {
  .content-body {
    padding: 0;
  }

  .content-body > main {
    padding: 0 1em;
  }
}

.outline > ul {
  font-size: 0.9em;
  position: sticky;
  top: 26px;
}

.outline ul {
  font-family: "Open Sans", "DejaVu Sans", sans-serif;
  line-height: 1.6;
  list-style-type: none;
}

.outline a {
  text-decoration: none;
}

.footer {
  text-align: center;
  padding: 1em;
  background-color: var(--bg-footer);
  border-top: 1px solid var(--bg-nav-top);
}

.footer p {
  margin: 0;
}

.footer a {
  text-decoration: none;
}

.literalblock pre,
.listingblock pre,
.listingblock > .content > pre:not(.highlight),
.listingblock > .content > pre[class="highlight"],
.listingblock > .content > pre[class^="highlight "] {
  background-color: var(--bg-code-block);
  border: 2px solid var(--border-color-code-block);
}

kbd {
  font-size: 0.85em;
  padding: 0.1em 0.4em;
}

:not(pre):not([class^="L"]) > code {
  background-color: var(--bg-code-inline);
  border: 1px solid var(--border-color-code-inline);
}
