body {
  background-color: #fffff4;
  margin-left: 320px;
  margin-right: 320px;
  max-width: 960px;
  font-family: "Open Sans", "DejaVu Sans", sans-serif;
}

#toc.toc2 {
  background-color: #ffffe3;
}

.outline {
  position: fixed;
  width: 320px;
  height: 100%;
  right: 0;
  top: 0;
  padding: 1.25em 1em;
  background-color: #ffffe3;
  border-left: 1px solid #e7e7e9;
}

.outline > ul {
  font-size: 0.9em;
}

.outline ul {
  font-family: "Open Sans", "DejaVu Sans", sans-serif;
  line-height: 1.6;
  list-style-type: none;
}

.outline a {
  text-decoration: none;
}

.literalblock pre,
.listingblock pre,
.listingblock > .content > pre:not(.highlight),
.listingblock > .content > pre[class="highlight"],
.listingblock > .content > pre[class^="highlight "] {
  background-color: #fffff3;
  border: 2px dashed #eee;
}
